{{#array}}
<li swoosh-object-id="{{objectid}}">
    <div class="headStoryContainer">
        {{#each hotstories}}
        <div class="storyObj" swoosh-object-type="hotstory">
            {{#if original_image}}
            <div class="storyPhoto">
                <div class="obj" style="background-image: url('{{original_image}}');"></div>
            </div>
            {{else}}
            {{#if photo}}
            <div class="storyPhoto">
                <div class="obj" style="background-image: url('{{photo}}');"></div>
            </div>
            {{/if}}
            {{/if}}
            <div class="storyContent">
                <p class="textSize3 textWeightReg2 storyHeadTitle" swoosh-object-origin="{{target}}">{{title}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</li>
{{/array}}