{{#if array}}
{{#array}}
{{#if storiescount}}
<li swoosh-object-id="{{objectid}}" banana-tap="1">
{{else}}
<li swoosh-object-id="{{objectid}}" swoosh-object="nobriefing" banana-tap="1">
{{/if}}
    <div>
        {{#if mainphoto}}
        <p class="textSize4 textWeightMid tagContainer tagWithPhoto" style="background-image: linear-gradient(to top, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.2) 100%), url('{{mainphoto}}');">{{tag}}</p>
        {{else}}
        <p class="textSize4 textWeightMid tagContainer">{{tag}}</p>
        {{/if}}
    </div>
</li>
{{/array}}
{{/if}}